<% layout('layouts/boilerplate')%>
    <div id="cluster-map" ></div>
    <div class="container mb-3 mt-3">
        <h1>All Dentists in Texas</h1>
    </div>
    <% for (let dentist of dentists){%>
        <div class="card mb-3" >
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" src="<%= dentist.images[0].url %>" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= dentist.title %>
                        </h5>
                        <p class="card-text">
                            <%= dentist.speciality %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= dentist.address %>
                            </small>
                        </p>
                        <a href="/dentists/<%= dentist._id %>" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    <% }%>

    <script>
        const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
        const dentists = { features: <%- JSON.stringify(dentists) %> };
    </script>

<script src="/javascript/clusterMap.js"></script>